<form action="/submission" method="POST">
  <h4> GOD.... Damn.....</h4>
  <input type="hidden" name="hidden-val">
  <div>
    <input type="text" id="input-1" name="input-1">
  </div>
  <div>
    <button type="submit">send that</button>
  </div>
</form>
